* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: blueviolet;
  font-family: "Open Sans", sans-serif;
}

input {
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  width: 80%;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 14px;
  width: 80%;
  background-color: aquamarine;
  border: 0;
  border-radius: 10px;
  margin: 20px;
  transition: all 0.1s ease-in-out;
}
input[type="submit"]:hover {
  scale: 1.05;
}
input[type="checkbox"] {
  width: auto;
}

a {
  text-decoration: none;
}
#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.checkbox-a {
  display: flex;
  align-items: center;
}
.form-header {
  width: 100%;
  height: 100px;
  padding: 20px 50px;
  text-align: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
}

.form-control.success {
  border-color: green;
}

.form-control.error {
  border-color: red;
}
