<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/signin.css">
    <script src="../scripts/signin.js" type="module"></script>
    <title>Sign in</title>
</head>

<body>
    <div class="container">
        <form id="form">
            <div class="form-header">
                <h2>Login Form</h2>
            </div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="username">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="email" class="form-control">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="password" class="form-control">
            <label for="password-confirm">Confirm your password: </label>
            <input type="password" name="password-confirm" id="password-confirm" placeholder="confirm your password"
                class="form-control">
            <input type="submit" value="signin" id="form-submit">
            <p>You already have an account? <a href="login.html">Login</a></p>
        </form>
    </div>
</body>

</html>